<nav id="shop_sidebar">
    <ul class="main_categories" style="list-style-type:none">
        <li class="active"><a href="shop/shop">All</a></li>
        <li>
            <a href="shop/shopwomen" ata-toggle="collapse" aria-expanded="false">Women</a></li>
            <ul class="women_dropdown" style="list-style-type:none">
                <a href="shop/women/tops">Tops</a>
                    <ul class="women_tops" style="list-style-type:none">
                        <li><a href="shop/women/top/t-shirts">T-Shirts</a></li>
                        <li><a href="shop/women/tops/shirts">Shirts</a></li>
                        <li><a href="shop/women/tops/dresses">Dresses</a></li>
                        <li><a href="shop/women/tops/hoodies-sweaters">Hoodies & Sweaters</a></li>
                    </ul>
                 <a href="shop/women/bottoms" data-toggle="collapse" aria-expanded="false">Bottoms</a>
                    <ul class="women_bottoms" style="list-style-type:none">
                        <li><a href="shop/women/bottoms/casual-pants">Casual Pants</a></li>
                        <li><a href="shop/women/bottoms/denim">Denim</a></li>
                        <li><a href="shop/women/bottoms/shorts">Shorts</a></li>
                        <li><a href="shop/women/bottoms/sweatpants">Sweatpants</a></li>
                        <li><a href="shop/women/bottoms/skirts">Skirts</a></li>
                    </ul>   
                <a href="shop/women/outerwear" data-toggle="collapse" aria-expanded="false">Outerwear</a>
                    <ul class="women_outerwear" style="list-style-type:none">
                        <li><a href="shop/women/outerwear/bombers">Bombers</a></li>
                        <li><a href="shop/women/outerwear/denim-jackets">Denim Jackets</a></li>
                        <li><a href="shop/women/outerwear/heavy-coats">Heavy Coats</a></li>
                        <li><a href="shop/women/outerwear/leather-jackets">Leather Jackets</a></li>
                        <li><a href="shop/women/outerwear/light-jackets">Light Jackets</a></li>
                        <li><a href="shop/women/outerwear/parkas">Parkas</a></li>
                        <li><a href="shop/women/outerwear/raincoats">Rain Coats</a></li>
                        <li><a href="shop/women/outerwear/vests">Vests</a></li>
                    </ul>
                <a href="shop/women/accessories" data-toggle="collapse" aria-expanded="false">Accessories</a>
                    <ul class="women_accessories" style="list-style-type:none">
                        <li><a href="shop/women/accessories/bags-luggage">Bags & Luggage</a></li>
                        <li><a href="shop/women/accessories/belts">Belts</a></li>
                        <li><a href="shop/women/accessories/glasses">Glasses</a></li>
                        <li><a href="shop/women/accessories/gloves-scarves">Gloves & Scarves</a></li>
                        <li><a href="shop/women/accessories/hats">Hats</a></li>
                        <li><a href="shop/women/accessories/other">Other</a></li>
                    </ul>
            </ul>
                
        <li>
            <a href="shop/men" data-toggle="collapse" aria-expanded="false">Men</a>
            <ul class="men_dropdown" style="list-style-type:none">
                <a href="shop/men/tops">Tops</a>
                    <ul class="men_tops" style="list-style-type:none">
                        <li><a href="shop/men/top/t-shirts">T-Shirts</a></li>
                        <li><a href="shop/men/tops/shirts">Shirts</a></li>
                        <li><a href="shop/men/tops/hoodies-sweaters">Hoodies & Sweaters</a></li>
                    </ul>
                <a href="shop/men/bottoms" data-toggle="collapse" aria-expanded="false">Bottoms</a>
                    <ul class="men_bottoms" style="list-style-type:none">
                        <li><a href="shop/men/bottoms/casual-pants">Casual Pants</a></li>
                        <li><a href="shop/men/bottoms/denim">Denim</a></li>
                        <li><a href="shop/men/bottoms/shorts">Shorts</a></li>
                        <li><a href="shop/men/bottoms/sweatpants-joggers">Sweatpants & Joggers</a></li>
                    </ul>
                <a href="shop/men/outerwear" data-toggle="collapse" aria-expanded="false">Outerwear</a>
                    <ul class="men_outerwear" style="list-style-type:none">
                        <li><a href="shop/men/outerwear/bombers">Bombers</a></li>
                        <li><a href="shop/men/outerwear/denim-jackets">Denim Jackets</a></li>
                        <li><a href="shop/men/outerwear/heavy-coats">Heavy Coats</a></li>
                        <li><a href="shop/men/outerwear/leather-jackets">Leather Jackets</a></li>
                        <li><a href="shop/men/outerwear/light-jackets">Light Jackets</a></li>
                        <li><a href="shop/men/outerwear/parkas">Parkas</a></li>
                        <li><a href="shop/men/outerwear/raincoats">Rain Coats</a></li>
                        <li><a href="shop/men/outerwear/vests">Vests</a></li>
                    </ul>
                <a href="shop/men/accessories" data-toggle="collapse" aria-expanded="false">Accessories</a>
                    <ul class="men_accessories" style="list-style-type:none">
                        <li><a href="shop/men/accessories/bags-luggage">Bags & Luggage</a></li>
                        <li><a href="shop/men/accessories/belts">Belts</a></li>
                        <li><a href="shop/men/accessories/glasses">Glasses</a></li>
                        <li><a href="shop/men/accessories/gloves-scarves">Gloves & Scarves</a></li>
                        <li><a href="shop/men/accessories/hats">Hats</a></li>
                        <li><a href="shop/men/accessories/other">Other</a></li>
                    </ul>
            </ul>
        </li>
        <li>
            <a href="shop/shopbrands" data-toggle="collapse" aria-expanded="false">Brand</a></li>
                <ul class="brand_shop_dropdown" style="list-style-type:none">
                    <li><a href="shop/brands/featured">Featured</a></li>
                    <li><a href="shop/brands/popular">Popular</a></li>
                    <li><a href="shop/brands/location">Location</a></li>
                </ul>
    </ul>
</nav>