<div class="homepage">
    <div align="center">
        <div class="jumbotron">
            <div align="center">
              <a href="atty_talk/blog">
              <p class="display-3">Atty Talk</p>
              <p class="lead">[insert blog post title]</p>
              <div class="subtitle_button">
                <p class="my-4">[insert blog post sub-title]</p>
              </div>
              </a>
            </div>
        </div>
        <div class="jumbotron2">
            <div style="float:center">
              <a href="atty_talk/blog">
              <p class="display-3">Atty Talk</p>
              <p class="lead">[insert blog post title]</p>
              <div class="subtitle_button">
                <p class="my-4">[insert blog post sub-title]</p>
              </div>
              </a>
            </div>
        </div>
        <div class="jumbotron3">
            <div style="float:center">
              <a href="atty_talk/blog">
              <p class="display-3">Atty Talk</p>
              <p class="lead">[insert blog post title]</p>
              <div class="subtitle_button">
                <p class="my-4">[insert blog post sub-title]</p>
              </div>
              </a>
            </div>
        </div>
        <div class="jumbotron4">
            <div style="float:center">
              <a href="atty_talk/blog">
              <p class="display-3">Atty Talk</p>
              <p class="lead">[insert blog post title]</p>
              <div class="subtitle_button">
                <p class="my-4">[insert blog post sub-title]</p>
              </div>
              </a>
            </div>
        </div>
        <div style="float:left">
            <div class="shopmen">
                <div style="float:center">
                    <div style="float:center">
                        <a href="shop/shopmen">
                        <p class="display-3">Shop Men</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div style="float:right">
            <div class="shopwomen">
                <div style="float:center">
                    <div style="float:center">
                        <a href="shop/shopwomen">
                        <p class="display-3">Shop Women</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div align="center">
            <div class="shopbrand">
                  <a href="shop/shopbrand">
                  <p class="display-3">Shop by Brand</p>
                  </a>
            </div> 
        </div>
    </div>
</div>




