<div class="shop_items">
    <div align="center">
        <div class="item1">
            <div align="center">
              <a href="shop/[main-category]/[sub-category]/[sub-category]/[#id]"> <!-- root will  be fixed later -->
              <p class="display-3">[insert item name]</p>
              <p class="lead">[insert brand name]</p>
              <div class="subtitle_button">
                <p class="my-4">[insert price]</p>
              </div>
              </a>
            </div>
        </div>
        <div class="item2">
            <div align="center">
              <a href="shop/[main-category]/[sub-category]/[sub-category]/[#id]">
              <p class="display-3">[insert item name]</p>
              <p class="lead">[insert brand name]</p>
              <div class="subtitle_button">
                <p class="my-4">[insert price]</p>
              </div>
              </a>
            </div>
        </div>
        <div class="item3">
            <div align="center">
              <a href="shop/[main-category]/[sub-category]/[sub-category]/[#id]">
              <p class="display-3">[insert item name]</p>
              <p class="lead">[insert brand name]</p>
              <div class="subtitle_button">
                <p class="my-4">[insert price]</p>
              </div>
              </a>
            </div>
        </div>
        <div class="item4">
            <div align="center">
              <a href="shop/[main-category]/[sub-category]/[sub-category]/[#id]">
              <p class="display-3">[insert item name]</p>
              <p class="lead">[insert brand name]</p>
              <div class="subtitle_button">
                <p class="my-4">[insert price]</p>
              </div>
              </a>
            </div>
        </div>
        <!-- row 2 -->
        <div class="item5">
            <div align="center">
              <a href="shop/[main-category]/[sub-category]/[sub-category]/[#id]">
              <p class="display-3">[insert item name]</p>
              <p class="lead">[insert brand name]</p>
              <div class="subtitle_button">
                <p class="my-4">[insert price]</p>
              </div>
              </a>
            </div>
        </div>
        <div class="item6">
            <div align="center">
              <a href="shop/[main-category]/[sub-category]/[sub-category]/[#id]">
              <p class="display-3">[insert item name]</p>
              <p class="lead">[insert brand name]</p>
              <div class="subtitle_button">
                <p class="my-4">[insert price]</p>
              </div>
              </a>
            </div>
        </div>
        <div class="item7">
            <div align="center">
              <a href="shop/[main-category]/[sub-category]/[sub-category]/[#id]">
              <p class="display-3">[insert item name]</p>
              <p class="lead">[insert brand name]</p>
              <div class="subtitle_button">
                <p class="my-4">[insert price]</p>
              </div>
              </a>
            </div>
        </div>
        <div class="item8">
            <div align="center">
              <a href="shop/[main-category]/[sub-category]/[sub-category]/[#id]">
              <p class="display-3">[insert item name]</p>
              <p class="lead">[insert brand name]</p>
              <div class="subtitle_button">
                <p class="my-4">[insert price]</p>
              </div>
              </a>
            </div>
        </div>
    </div>
    <!-- third row -->
    <div class="item9">
            <div align="center">
              <a href="shop/[main-category]/[sub-category]/[sub-category]/[#id]">
              <p class="display-3">[insert item name]</p>
              <p class="lead">[insert brand name]</p>
              <div class="subtitle_button">
                <p class="my-4">[insert price]</p>
              </div>
              </a>
            </div>
        </div>
        <div class="item10">
            <div align="center">
              <a href="shop/[main-category]/[sub-category]/[sub-category]/[#id]">
              <p class="display-3">[insert item name]</p>
              <p class="lead">[insert brand name]</p>
              <div class="subtitle_button">
                <p class="my-4">[insert price]</p>
              </div>
              </a>
            </div>
        </div>
        <div class="item11">
            <div align="center">
              <a href="shop/[main-category]/[sub-category]/[sub-category]/[#id]">
              <p class="display-3">[insert item name]</p>
              <p class="lead">[insert brand name]</p>
              <div class="subtitle_button">
                <p class="my-4">[insert price]</p>
              </div>
              </a>
            </div>
        </div>
        <div class="item12">
            <div align="center">
              <a href="shop/[main-category]/[sub-category]/[sub-category]/[#id]">
              <p class="display-3">[insert item name]</p>
              <p class="lead">[insert brand name]</p>
              <div class="subtitle_button">
                <p class="my-4">[insert price]</p>
              </div>
              </a>
            </div>
        </div>
        <!-- row 4 -->
        <div class="item13">
            <div align="center">
              <a href="shop/[main-category]/[sub-category]/[sub-category]/[#id]">
              <p class="display-3">[insert item name]</p>
              <p class="lead">[insert brand name]</p>
              <div class="subtitle_button">
                <p class="my-4">[insert price]</p>
              </div>
              </a>
            </div>
        </div>
        <div class="item14">
            <div align="center">
              <a href="shop/[main-category]/[sub-category]/[sub-category]/[#id]">
              <p class="display-3">[insert item name]</p>
              <p class="lead">[insert brand name]</p>
              <div class="subtitle_button">
                <p class="my-4">[insert price]</p>
              </div>
              </a>
            </div>
        </div>
        <div class="item15">
            <div align="center">
              <a href="shop/[main-category]/[sub-category]/[sub-category]/[#id]">
              <p class="display-3">[insert item name]</p>
              <p class="lead">[insert brand name]</p>
              <div class="subtitle_button">
                <p class="my-4">[insert price]</p>
              </div>
              </a>
            </div>
        </div>
        <div class="item16">
            <div align="center">
              <a href="shop/[main-category]/[sub-category]/[sub-category]/[#id]">
              <p class="display-3">[insert item name]</p>
              <p class="lead">[insert brand name]</p>
              <div class="subtitle_button">
                <p class="my-4">[insert price]</p>
              </div>
              </a>
            </div>
        </div> 
    </div>
</div>
