<nav id="brands_sidebar">
    <ul class="main_categories" style="list-style-type:none">
        <li><a href="brands/popular">Popular</a></li>
        <li><a href="brands/featured">Featured</a></li>
        <li><a href="brands/alphabetical">Alphabetical</a></li>
        <li><a href="brands/location">Location</a></li>
    </ul>
</nav>