<nav id="explore_sidebar">
    <ul class="main_categories" style="list-style-type:none">
        <li><a href="atty_talk/blog">Atty Talk</a></li>
        <li><a href="explore/lookbooks">Lookbooks</a></li>
        <li><a href="explore/film">Film</a></li>
    </ul>
</nav>