<%= render "explore_sb" %>
<div class="films">
    <div class="film1">
        <div align="center">
          <a href="explore/film/[#id]"> <!-- root will be fixed later -->
          <p class="display-3">[insert film title]</p>
          <p class="lead">[insert brand name]</p>
          <div class="subtitle_button">
            <p class="my-4">[insert date]</p>
          </div>
          </a>
        </div>
    </div>
    <div class="film2">
        <div style="float:center">
            <div align="center">
              <a href="explore/film/[#id]">
              <p class="display-3">[insert film title]</p>
              <p class="lead">[insert brand name]</p>
              <div class="subtitle_button">
                <p class="my-4">[insert date]</p>
              </div>
              </a>
            </div>
        </div>
    </div>
    <div class="film3">
        <div style="float:center">
            <div align="center">
              <a href="explore/film/[#id]">
              <p class="display-3">[insert film title]</p>
              <p class="lead">[insert brand name]</p>
              <div class="subtitle_button">
                <p class="my-4">[insert date]</p>
              </div>
              </a>
            </div>
        </div>
    </div>
</div>
