<div id="footer">
    <div style="float: left">
        <%= link_to "Terms & Conditions", :controller => "terms_conditions", :action => "terms" %>
        <%= link_to "Contact Us", :controller => "contact_us", :action => "contact" %>
    </div>
</div>